
.nav {
	/* background-color: #ffe48a; */
	background-color: #ffed9d;
}

.hero {
	padding: 4rem 0;
	text-align: center;
	background-color: #fff9d0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer {
	margin-top: 3rem;
	padding: 2rem 0;
	text-align: center;
	/* background-color: #ffd972; */
	background-color: #fde17e;
}

.avatar {
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	border-radius: 50%;
}

.responsive-stack {
	display: flex;
	/* align-items: center; */
	gap: 1rem;
}

@media (max-width: 599px) {
	.responsive-stack {
		flex-direction: column;
		text-align: center;
	}
}